* {
    padding: 0;
    margin: 0;
}

body {
    color: #ffffff;
    background-color: #595959;
    font: 12px/1.6 Arial, sans-serif;
    font-weight: bold;
}

h1 {
    color: #98abb3;
    font-weight: normal;
    padding-bottom: 1em;
}

dl > dt {
    display: block;
    float: left;
    clear: both;
}

dt {
    color: white;
    font-style: italic;
}

dd {
    margin-left: 9em;
    margin-bottom: 0.7em;
    color: #91acc1;
}

dd.red {
    color: red;
}

dd.orange {
    color: orange;
}

dd.yellow {
    color: #f3eb95;
}

.circle {
    float: left;
    margin-top: 2px;
    margin-right: 4px;
    width: 15px;
    height: 15px;
    border-radius: 7px;
    background: #71b47a;
}
