body {
    margin: 0;
    padding: 0;
    width: 100%;

}

section#wrapper {
    padding: 20px;
}

div {
    width: 90%;
    background-color: black;
    border: 2px solid red;
    border-radius: 80px;
}

div #do-not-display {
    display: none;
}