body {
    margin: 0;
    padding: 0;
}
a {
    color: #FAF556;
}
header {
    background-color: #1298AF;
    color: #FFFFFF;
    padding: 1.3em;
    margin-bottom: 2em;
    text-align: center;
    box-shadow: 2px 2px 3px #888888;
}
footer {
    margin-top: 2em;
    padding: 0.3em;
    color: #FFFFFF;
    background-color: #1298AF;
    text-align: center;
    box-shadow: 2px 2px 3px #888888;
}
#wrapper {
    width: 1200px;
    margin: 0 auto;
}
#main {
    width: 60%;
    background-color: #DFF0FD;
    float: left;
}
#navigation {
    width: 30%;
    background-color: #14353D;
    color: #FFFFFF;
    float: right;
}
#main, #navigation {
    padding: 1em;
}
.clearfix {
    clear: both;
}
.imagecontainer img {
    width: 30%;
    height: 30%;
    padding: 0.5em;
    margin-right: 1em;
    float: left;
}
.adbox {
    margin: 0.5em;
    padding: 0.5em 0 1em 0;
}
input.ng-invalid.ng-dirty.form-validation {
    background-color: #FF8080;
}
input.ng-valid.ng-dirty.form-validation {
    background-color: #8BF788;
}
#the-image-preview {
    width: 300px;
}
