<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>AdsApp</title>
    <link rel="stylesheet" type="text/css" href="/app/lib/bootstrap-3.3.1/css/bootstrap.css" />
    <link rel="stylesheet" type="text/css" href="/app/lib/bootstrap-3.3.1/css/bootstrap-theme.css" />
    <link rel="stylesheet" type="text/css" href="/app/css/app.css" />
</head>

<body ng-app="adsApp" ng-controller="AdsAppController">

    <header ng-Cloak ng-switch on="switchHeaderName()">
        <h3 ng-switch-when="home">Ads - Home</h3>
        <h3 ng-switch-when="login">Ads - Login</h3>
        <h3 ng-switch-when="register">Ads - Register</h3>
        <h3 ng-switch-when="my-ads">Ads - my-ads</h3>
        <h3 ng-switch-when="edit-my-ad">Ads - edit-my-ad</h3>
        <h3 ng-switch-when="publish">Ads - publish new ad</h3>
        <h3 ng-switch-when="editprofile">Ads - editprofile</h3>
        <h3 ng-switch-default>Ads</h3>
        <!-- TODO: addin other switch pages in AdsAppController.js-->
    </header>

    <div id="wrapper">
        <div class="row">
            <div class="col-md-3">
                <div ng-include="'app/templates/left-public-sidebar.html'" ng-if="!isLoggedIn"></div>
                <div ng-include="'app/templates/left-loggeduser-sidebar.html'" ng-if="isLoggedIn"></div>
            </div>
            <div id="main">
                <div ng-view>
                </div>
            </div>
        </div>
    </div>

    <footer>
        <p>Made by Matrix - <a href="http://thecodeistrueorfalse.wordpress.com/"> Blog</a>, <a href="https://github.com/ipobornik"> GitHub</a>. {{footerinfo}}</p>
    </footer>

    <script type="text/javascript" src="/app/lib/jquery-2.1.3.js"></script>
    <script type="text/javascript" src="/app/lib/bootstrap-3.3.1/js/bootstrap.js"></script>
    <script type="text/javascript" src="/app/lib/jquery.noty.packaged.min-2.3.4.js"></script>

    <script type="text/javascript" src="/app/lib/angular/angular.js"></script>
    <script type="text/javascript" src="/app/lib/angular/angular-resource.js"></script>
    <script type="text/javascript" src="/app/lib/angular/angular-route.js"></script>
    <script type="text/javascript" src="/app/lib/angular-local-storage.js"></script>

    <script type="text/javascript" src="/app/js/app.js"></script>

    <script type="text/javascript" src="/app/js/directives/leftpublic-sidebar.js"></script>
    <script type="text/javascript" src="/app/js/directives/public-ads-list.js"></script>
    <script type="text/javascript" src="/app/js/directives/my-ads-list.js"></script>
    <script type="text/javascript" src="/app/js/directives/towns.js"></script>
    <script type="text/javascript" src="/app/js/directives/category.js"></script>
    <script type="text/javascript" src="/app/js/directives/display-edit-my-ad.js"></script>
    <script type="text/javascript" src="/app/js/directives/edit-profile.js"></script>

    <script type="text/javascript" src="/app/js/services/townsData.js"></script>
    <script type="text/javascript" src="/app/js/services/userData.js"></script>
    <script type="text/javascript" src="/app/js/services/adsData.js"></script>
    <script type="text/javascript" src="/app/js/services/categoryData.js"></script>
    <script type="text/javascript" src="/app/js/services/authent.js"></script>
    <script type="text/javascript" src="/app/js/services/filter.js"></script>
    <script type="text/javascript" src="/app/js/services/notifyService.js"></script>

    <script type="text/javascript" src="/app/js/controllers/AdsAppController.js"></script>
    <script type="text/javascript" src="/app/js/controllers/HomeController.js"></script>
    <script type="text/javascript" src="/app/js/controllers/RegisterController.js"></script>
    <script type="text/javascript" src="/app/js/controllers/PublicAdsListController.js"></script>
    <script type="text/javascript" src="/app/js/controllers/TownsListController.js"></script>
    <script type="text/javascript" src="/app/js/controllers/CategoryListController.js"></script>
    <script type="text/javascript" src="/app/js/controllers/PublishNewAdController.js"></script>
    <script type="text/javascript" src="/app/js/controllers/UserAdsController.js"></script>
    <script type="text/javascript" src="/app/js/controllers/EditAdsController.js"></script>
    <script type="text/javascript" src="/app/js/controllers/EditProfileController.js"></script>

</body>

</html>
