body, div, table, th, tr, td, p, nav, ul, table-cell {
    margin: 0;
    padding: 0;
}

body, input [type="button"] {
    color: #333;
    font: 12px Segoe UI, sans-serif;
}

#calculator-wrapper {
    padding: 0px 10px 5px;
    width: 395px;
    border: 1px solid lightgrey;
    float: left;
    background-image: linear-gradient(bottom, rgb(217,228,241) 59%, rgb(237,244,252) 90%);
    background-image: -o-linear-gradient(bottom, rgb(217,228,241) 59%, rgb(237,244,252) 90%);
    background-image: -moz-linear-gradient(bottom, rgb(217,228,241) 59%, rgb(237,244,252) 90%);
    background-image: -webkit-linear-gradient(bottom, rgb(217,228,241) 59%, rgb(237,244,252) 90%);
    background-image: -ms-linear-gradient(bottom, rgb(217,228,241) 59%, rgb(237,244,252) 90%);
    background-image: -webkit-gradient( linear, left bottom, left top, color-stop(0.59, rgb(217,228,241)), color-stop(0.9, rgb(237,244,252)) );
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#edf4fc', endColorstr='#d9e4f1',GradientType=0 );
}

nav {
    margin: 0 -10px 10px;
    padding: 1px 0px -2px;
    border-bottom: 1px solid #B6BCCC;
    background: -webkit-linear-gradient(#FEFEFF 0, #E5EAF5 34%, #D4DBED 35%, #E1E6F6 100%);
    background: -moz-linear-gradient(#FEFEFF 0, #E5EAF5 34%, #D4DBED 35%, #E1E6F6 100%);
    background: -o-linear-gradient(#FEFEFF 0, #E5EAF5 34%, #D4DBED 35%, #E1E6F6 100%);
    background: linear-gradient(#FEFEFF 0, #E5EAF5 34%, #D4DBED 35%, #E1E6F6 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fefeff', endColorstr='#e1e6f6',GradientType=0 );
}

    nav ul {
        margin-top: 3px;
        display: inline-block;
    }

        nav ul li {
            margin-left: 10px;
            float: left;
            list-style: none;
        }

            nav ul li:hover {
                cursor: default;
            }

.menu-shortcut {
    text-decoration: underline;
}

input[type="text"] {
    text-align: right;
    font-family: Consolas;
    font-size: 24px;
    width: 99%;
    border: none;
    background: none;
    outline: 0;
}

.input-box {
    padding: 5px;
    margin-bottom: 5px;
    border: 1px solid #727F8D;
    border-radius: 3px;
    color: #1C3759;
}

.number-box {
    width: 390px;
    outline: 0;
    background: none;
    padding: 15px 0px 5px;
    background-image: linear-gradient(bottom, rgb(255,255,255) 10%, rgb(229,239,251) 90%);
    background-image: -o-linear-gradient(bottom, rgb(255,255,255) 10%, rgb(229,239,251) 90%);
    background-image: -moz-linear-gradient(bottom, rgb(255,255,255) 10%, rgb(229,239,251) 90%);
    background-image: -webkit-linear-gradient(bottom, rgb(255,255,255) 10%, rgb(229,239,251) 90%);
    background-image: -ms-linear-gradient(bottom, rgb(255,255,255) 10%, rgb(229,239,251) 90%);
    background-image: -webkit-gradient( linear, left bottom, left top, color-stop(0.1, rgb(255,255,255)), color-stop(0.9, rgb(229,239,251)) );
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e5effb', endColorstr='#ffffff',GradientType=0 );
}

#binary-box {
    width: 380px;
    font-family: Consolas;
    font-size: 12px;
}

.grey-row {
    color: #666666;
}

#binary-box td {
    padding-right: 20px;
    line-height: 12px;
}

    #binary-box td:last-child {
        text-align: right;
    }



#controls-wrapper {
    display: block;
}

#left-panel {
    display: inline;
    float: left;
}

#numeric-system, #byte-size {
    width: 80px;
}

    #numeric-system ul, #byte-size ul {
        list-style: none;
        position: relative;
        left: -5px;
    }

    #numeric-system li, #byte-size li {
        padding: 0px 2px;
        margin: 1.2px;
    }

#button-container {
    float: left;
}

.table {
    display: table;
}

.table-row {
    display: table-row;
    clear: both;
    content: " ";
}

.table-cell {
    display: table-cell;
    position: relative;
    float: left;
    padding-left: 4px;    

}

    .table-cell:after {
        display: table;
        clear: both;
        content: " ";
    }

#zero-button {
    width: 74px;
}

#eval-button {
    font-size: 24px;
    position: absolute;
    height: 61px;
}

#arrow {
    font-size: 18px;
    font-stretch: narrower;
    font-weight: bold;
}

.button {
    height: 28px;
    width: 35px;
    border: 1px solid #8797AA;
    -webkit-box-align: center;
    text-align: center;
    line-height: 26px;
    margin-bottom: 5px;
    border-radius: 2px;
    color: #1C3759;
    vertical-align: middle;
}

    .button:not(:disabled), label {
        cursor: default;
    }

#button-container input[type="button"]:not(:disabled):active {
    border: 1px solid #c29b28;
    background-image: linear-gradient(bottom, rgb(244,204,135) 51%, rgb(245,187,86) 50%, rgb(243,224,115) 7%);
    background-image: -o-linear-gradient(bottom, rgb(244,204,135) 51%, rgb(245,187,86) 50%, rgb(243,224,115) 7%);
    background-image: -moz-linear-gradient(bottom, rgb(244,204,135) 51%, rgb(245,187,86) 50%, rgb(243,224,115) 7%);
    background-image: -webkit-linear-gradient(bottom, rgb(244,204,135) 51%, rgb(245,187,86) 50%, rgb(243,224,115) 7%);
    background-image: -ms-linear-gradient(bottom, rgb(244,204,135) 51%, rgb(245,187,86) 50%, rgb(243,224,115) 7%);
    background-image: -webkit-gradient( linear, left bottom, left top, color-stop(0.51, rgb(244,204,135)), color-stop(0.5, rgb(245,187,86)), color-stop(0.07, rgb(243,224,115)) );
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f3e073', endColorstr='#f4cc87',GradientType=0 );
}

.button:not(:disabled):hover {
    border: 1px solid #ffdb00;
    background-image: linear-gradient(bottom, rgb(255,235,213) 51%, rgb(255,208,105) 50%, rgb(255,242,145) 7%);
    background-image: -o-linear-gradient(bottom, rgb(255,235,213) 51%, rgb(255,208,105) 50%, rgb(255,242,145) 7%);
    background-image: -moz-linear-gradient(bottom, rgb(255,235,213) 51%, rgb(255,208,105) 50%, rgb(255,242,145) 7%);
    background-image: -webkit-linear-gradient(bottom, rgb(255,235,213) 51%, rgb(255,208,105) 50%, rgb(255,242,145) 7%);
    background-image: -ms-linear-gradient(bottom, rgb(255,235,213) 51%, rgb(255,208,105) 50%, rgb(255,242,145) 7%);
    background-image: -webkit-gradient( linear, left bottom, left top, color-stop(0.51, rgb(255,235,213)), color-stop(0.5, rgb(255,208,105)), color-stop(0.07, rgb(255,242,145)) );
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffebd5', endColorstr='#fff291',GradientType=0 );
}

.gradient {
    font-size: 12px;
    font-weight: 500;
    background-image: linear-gradient(bottom, rgb(213,224,238) 50%, rgb(236,242,248) 50%);
    background-image: -o-linear-gradient(bottom, rgb(213,224,238) 50%, rgb(236,242,248) 50%);
    background-image: -moz-linear-gradient(bottom, rgb(213,224,238) 50%, rgb(236,242,248) 50%);
    background-image: -webkit-linear-gradient(bottom, rgb(213,224,238) 50%, rgb(236,242,248) 50%);
    background-image: -ms-linear-gradient(bottom, rgb(213,224,238) 50%, rgb(236,242,248) 50%);
    background-image: -webkit-gradient( linear, left bottom, left top, color-stop(0.5, rgb(213,224,238)), color-stop(0.5, rgb(236,242,248)) );
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ecf2f8', endColorstr='#d5e0ee',GradientType=0 );
}

.light {
    font-size: 17px;
    background-image: linear-gradient(bottom, rgb(233,240,248) 50%, rgb(242,247,251) 50%);
    background-image: -o-linear-gradient(bottom, rgb(233,240,248) 50%, rgb(242,247,251) 50%);
    background-image: -moz-linear-gradient(bottom, rgb(233,240,248) 50%, rgb(242,247,251) 50%);
    background-image: -webkit-linear-gradient(bottom, rgb(233,240,248) 50%, rgb(242,247,251) 50%);
    background-image: -ms-linear-gradient(bottom, rgb(233,240,248) 50%, rgb(242,247,251) 50%);
    background-image: -webkit-gradient( linear, left bottom, left top, color-stop(0.5, rgb(233,240,248)), color-stop(0.5, rgb(242,247,251)) );
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f2f7fb', endColorstr='#e9f0f8',GradientType=0 );
}

.not-usable, .dark {
    background-image: linear-gradient(bottom, rgb(217,228,241) 50%);
    background-image: -o-linear-gradient(bottom, rgb(217,228,241) 50%);
    background-image: -moz-linear-gradient(bottom, rgb(217,228,241) 50%);
    background-image: -webkit-linear-gradient(bottom, rgb(217,228,241) 50%);
    background-image: -ms-linear-gradient(bottom, rgb(217,228,241) 50%);
    background-image: -webkit-gradient( linear, left bottom, left top, color-stop(0.5, rgb(217,228,241)) );
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d9e4f1', endColorstr='#d9e4f1',GradientType=0 );
}

.not-usable {
    border: 1px solid #b4c2d1;
}

