table {
    border-style: solid;
    border-collapse: collapse;
    border-width: 1px;
}

td {
	
    height: 25px;
    padding: 4px;
}

.remove-border-right {
    border-right: 0;
}

.remove-border-left {
    text-align: right;
    border-left: 0;
}
