table {
    font: 14px/1.5 Verdana, Arial, sans-serif;
    border-collapse: collapse;
}

    table tr td {
        border: 1px solid black;
    }

    table tr td {
        padding: 4px;
    }

.align-right {
    text-align: right;
    font-weight: bold;
}

tfoot {
    text-align: center;
    background-color: #028E9B;
}

.textfield {
    
    width: 90%;
}

textarea {
    width: 90%;
    height: 80px;
}

#state {
    width: 80%;
}

#city {
    width: 95%;
}

#phonecode {
    width: 40px;
}


#phone {
    width: 110px;
}

#month, #day {
    width: 25px;
}

#year {
    width: 45px;
}
