body {
    background-color: #a9a9a9;
    font-family: 'Times New Roman', serif;
}

    body > header, body > footer {
        text-align: center;
    }

h1 {
    color: #FAFAD2;
    font-size: 3em;
}

article h1 {
    font-size: 1.5em;
}

ul {
    font-size: 1.2em;
    font-weight: bold;
}

li {
    list-style: none;
}

    li:last-child a {
        text-decoration: underline;
    }

a {
    text-decoration: none;
    color: #000000;
}

li a {
    color: #ffffff;
}

a.current {
    background-color: #D3D3D3;
}

article p {
    font-size: 0.9em;
}

article footer p {
    font-size: 0.8em;
}
