<div class="col-md-9">
    <div id="display-ads-container" ng-controller="EditAdsController">
        <ul ng-cloak>
            <li>
                <div class="col-md-10" id="edit-ad-box">
                    <div ng-if='editAdData.imageDataUrl'>
                        <strong>Image:</strong>
                        <img class="imagecontainer" ng-src="{{editAdData.imageDataUrl}}" />
                    </div>
                    <div><strong>*Title: </strong><span class="old-value">{{editAdData.title}}</span>
                        <input type="text" ng-model="editAdObj.title"> </div>

                    <div><strong>Date: </strong> <span class="old-value">{{editAdData.date | date:'dd-MMM-yyyy'}}</span>
                        <input type="text" ng-model="editAdObj.date">
                    </div>

                    <div><strong>*Description: </strong><span class="old-value">{{editAdData.text}}</span>
                        <input type="text" ng-model="editAdObj.text">
                    </div>
<span class="old-value"></span>
                    <div><strong>Name: </strong><span class="old-value">{{editAdData.ownerName}}</span>
                        <input type="text" ng-model="editAdObj.ownerName">
                    </div>

                    <div><strong>Email: </strong><span class="old-value">{{editAdData.ownerEmail}}</span>
                        <input type="text" ng-model="editAdObj.ownerEmail">
                    </div>

                    <div><strong>Phone: </strong><span class="old-value">{{editAdData.ownerPhone}}</span>
                        <input type="text" ng-model="editAdObj.ownerPhone">
                    </div>

                </div>
                <div class="col-md-2">
                    <div class="user-panel">
                        <div class="user-panel">
                            <a href="" ng-hide="editAdData.status === 'WaitingApproval' || editAdData.status === 'Published'" ng-click="publishEditedAdToServer(editAdObj,editAdData.id)">PUT Edit</a>
                            <a href="#/my-ads">Cansel</a>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</div>
