<div class="col-md-9">
    <div id="display-ads-container" ng-controller="EditAdsController">
        <ul>
            <li>
                <span>------------</span>
               <!--  <div ng-if='editAd.imageDataUrl'>
                   <strong>Image:</strong>
                   <img class="imagecontainer" ng-src="{{editAd.imageDataUrl}}" />       </div> -->
                <h4>{{editAd.title}}</h4>
                <div><strong>Date:</strong> {{editAd.date | date:'dd-MMM-yyyy'}}</div>
                <div><span><strong>Description:</strong> </span>{{editAd.text}}</div>
                <div><span><strong>Name:</strong> </span>{{editAd.ownerName}}</div>
                <div><span><strong>Email:</strong> </span>{{editAd.ownerEmail}}</div>
                <div><span><strong>Phone:</strong> </span>{{editAd.ownerPhone}}</div>
                <div><span><strong>IDddddddddddd:</strong> </span>{{editAd.id}}</div>
               
            </li>
        </ul>



       
    </div>
</div>
