<header>
    <h2>{{headerTitle}}</h2>
    <span>
            <a href="#/edit-ad">Edit</a>
            <a href="#/details">Details</a>
        </span>
</header>

<div id="wrapper">
    <div class="row">
        <div class="col-md-3 navigation">
            <left-public-sidebar></left-public-sidebar>
        </div>
        <div class="col-md-6" id="main">
            <public-ads-list></public-ads-list>
        </div>
        <div class="col-md-3 navigation">
            <categories></categories>
            <towns></towns>
        </div>
    </div>
</div>
