<div id="edit-ad-box">
    <form name="newAdForm">
        <label>Ad title:</label>
        <input type="text" class="form-validation" id="adtitle-input" ng-model="adTempObj.titleAd" required="required" />
        <br>
        <br>
        <label>Date:</label>
        <input type="text" class="form-validation" id="date-input" ng-model="adTempObj.dateOfCreation" required="required" ng-pattern="/\d\d/\d\d/\d\d\d\d/" />
        <br>
        <br>
        <label>Info:</label>
        <input type="text" class="form-validation" id="info-input" ng-model="adTempObj.descriptionAd" required="required" />
        <br>
        <br>
        <label>Name:</label>
        <input type="text" class="form-validation" id="name-input" ng-model="adTempObj.authorName" required="required" />
        <br>
        <br>
        <label>Email:</label>
        <input type="text" class="form-validation" id="mail-input" ng-model="adTempObj.mail" required="required" />
        <br>
        <br>
        <label>Phone:</label>
        <input type="text" class="form-validation" id="phone-input" ng-model="adTempObj.phone" required="required" />
        <br>
        <br>
        <label>Image:</label>
        <input type="text" class="form-validation" id="image-input" ng-model="adTempObj.image" required="required" ng-pattern="/\.(gif|jpg|jpeg|tiff|png)$/i" />
        <br>
        <br>
        <input type="button" value="Submit edit" ng-click="saveAd(adTempObj, newAdForm)" ng-disabled="newAdForm.$invalid" />
        <input type="button" value="Cansel" ng-click="cancel()" />
    </form>
    <br>
    <div id="image-preview-container">
        <img ng-src="{{adTempObj.image}}" src="" id="the-image-preview" />
    </div>
</div>
