<div class="col-md-9">
    <h2>publish new add</h2>
    <form>
        <label for="title">Titel*</label>
        <input type="text" id="title" ng-model="newAdObj.title" />
        <br>

        <label for="text">Text*</label>
        <textarea rows="7" id="text" ng-model="newAdObj.text"></textarea>
        <br>
        <!--   <label for="image">Image</label>
      <input type="text" id="image" ng-model="newAdObj.imageDataUrl" />
      <br>
      <label for="category">Category</label>
      <input type="text" id="category" ng-model="newAdObj.categoryId" />
      <br>
      <label for="town">Town</label>
      <select id="town" ng-options="town.id as town.name for town in towns" ng-model="newAdObj.townId">
      </select> -->
        <input type="button" value="Publish New Add" ng-click="publishNewAdClicked(newAdObj)">
        <input type="button" value="cansel">
    </form>
</div>