<div id="display-ads-container">
    <img id="loadingimage" src="/app/img/loading.gif" alt="loading image" ng-hide="ready">
    <ul ng-cloak>
        <li ng-repeat="ad in adsData.ads" class="ad-box">
            <div class="row">
                <div class="col-md-4">
                    <div ng-if='ad.imageDataUrl'>
                        <img class="imagecontainer" ng-src="{{ad.imageDataUrl}}" /><br>
                    </div>
                </div>
                <div class="col-md-8">
                    <h2>{{ad.title}}</h2>
                    <div><strong>Date:</strong> {{ad.date | date:'dd-MMM-yyyy'}}</div>
                    <div><span><strong>Description:</strong> </span>{{ad.text}}</div>
                    <div><span><strong>Name:</strong> </span>{{ad.ownerName}}</div>
                    <div><span><strong>Email:</strong> </span>{{ad.ownerEmail}}</div>
                    <div><span><strong>Phone:</strong> </span>{{ad.ownerPhone}}</div>
                </div>
            </div>
        </li>
    </ul>

    <div ng-if="ads.ads.length==0">
        No ads found.
    </div>
</div>
