<div class="col-md-9">
    <h2>register</h2>
    <form>
    	<label for="username">Username</label>
    <input type="text" name="username"  ng-model="userTempObj.username"/>
    <br>
    <label for="password">Password</label>
    <input type="password" name="password" ng-model="userTempObj.password" />
    <br>
    <label for="confirmpassword">Confirm Password</label>
    <input type="password" name="confirmpassword" ng-model="userTempObj.confirmpassword" />
    <br>
    <label for="name">name Owner</label>
    <input type="text" name="name"  ng-model="userTempObj.name"/>
    <br>
    <label for="phone">phone</label>
    <input type="text" name="phone"  ng-model="userTempObj.phone"/>
    <br>
    <label for="email">email</label>
    <input type="text" name="email"  ng-model="userTempObj.email"/>
    <br>
    <label for="townSelect">town</label>
    <select id="townSelect" ng-options="town.id as town.name for town in towns"
        ng-model="userTempObj.townId">
    </select>
<input type="button" value="register" ng-click="register(userTempObj)">
 <a href="#/">Cansel</a>
    </form>
</div>
