* { padding: 0; margin: 0; }

body { color: #000000; font: 12px/1.6 Verdana, sans-serif;}

.clear{clear: both;}

a {color: #AD0000; font-weight: bold;}
a:hover {color: red; font-weight: bold;}

h2 {color: red; margin: 1em auto;}

#container { width: 1000px; margin: 1.5em auto; }


/* --- Header --- */

.header_pic a img { width: 1000px; height: 300px; padding: 4px;	border:1px solid #cfd2d4; }
/* .header_pic  { width: 100%; height: 300px; background-color: black; text-align: center;} */

#logo { padding:0 0 0 0; float:left; width:auto;}


h1 { margin:0 0 0 -12px; padding:32px 16px 16px 16px; color:#61c0ec; 
     font:normal 4em Arial, Helvetica, sans-serif; 
     letter-spacing:-1px; text-transform:uppercase; 
   }

h1 a, h1 a:hover { color:red; text-decoration:none; }
h1 span {color:#bbb;}

#slogan { display:block; padding:4px 0; font: 0.3em Arial, Helvetica, sans-serif;
	      letter-spacing: 0.025em; color: #a5a5a5; text-transform:none; margin: 0 0 0 	0.1em;
        }



/* --- Navigation --- */

/*#header nav ul { overflow: hidden; }*/

nav { margin:0 auto 0 auto; padding:0 5px 0 5px; float:right; }

#header nav ul li { padding:0 3px 0 0; display: block; float: left; list-style: none outside; position: relative;}
#header nav ul li a { display: block; padding: 9px 14px; font-size: 1.16em; }


nav ul li a {
    display: block;
	padding:40px 16px 12px;
	text-decoration:none;
	color: #000;
    font-weight:normal;
}

nav ul li ul { display: none; position: absolute; left: 0; top: 95%; }
nav li:hover > ul { display: block; background-color: white;}


.menu_nav ul li a:hover { color: white; background-color:red; font-weight:normal;}



/* --- Content --- */


#content, #sidebar { margin: 0.5em auto; float: left; }

#content .inner,
#sidebar .inner { margin: 2em; }

.last_line { margin: 1em 0 5em 0;}
.last_line a { font-weight: bold; color: #434343;}
.last_line a:hover { font-weight: bold; color: red;}

/* --- .article p { padding: 0 0.7em 0 0.7em;}--- */

#content { width: 71%;}

#content h2 a {color: #cc0303; text-decoration: none; }
#content h2 a:hover {color: red; text-decoration: none;}

p.posted {color: #4b4b4b;}

.article img {
	width: 643px;
	height: 200px;
	padding: 4px; margin: 5px 0 5px 0;	border:1px solid #cfd2d4;
}


/* ---  #content p.date {
	margin:5px 12px 0 5px;
	padding:2px 6px 6px;
	float:left;
	width:40px;
	color:#fff;
	background-color: #700000;
	font-size:17px;
	line-height:1.6em;
	text-align:center;
	text-transform:uppercase;
}
#content p.date span {
	display:block;
	padding:4px 0;
	float:left;
	width:40px;
	font-size:30px;
	color:#1a1a1a;
	background-color:#fff;
}--- */



/* --- Sidebar --- */


#sidebar { width: 29%; float:right; }


#sidebar h2 { color: #700000; }

#sidebar .gadget { padding: 1.6em 0 0 2.5em;}


ul.sidebar_menu, ul.arhiv_menu { margin: -1em 0 0 0; list-style:none;}

ul.sidebar_menu li,
ul.arhiv_menu li { padding: 4px 0 4px 12px; font-size: 1.1em; }

ul.sidebar_menu li a, 
ul.arhiv_menu li a { color: #700000; text-decoration:none; font-weight:normal; }

ul.sidebar_menu li a:hover, 
ul.arhiv_menu li a:hover { color:red; font-weight:normal; text-decoration:underline; }


.posted_sidebar {
padding: 1px 0 4px 8px;
  color: #a5a5a5; /* za podzaglaviqta na Arhiva ocvetqvane*/
  font-size: 0.8em;
}


/* --- search iiiiiiiiiiiiiiiiin Sidebar--- */

#formsearch span {
	display:block;
	padding: 0.1em;
    margin: 14px 1px 25px 40px;
	float:left;
	border:1px solid #cfd2d4;
}
#formsearch input.editbox_search {
	padding: 0.3em;
	float:left;
	width:130px;
	border:none;
	background:none;
	font:normal 12px/1.5em Arial, Helvetica, sans-serif;
	color: #636363;
}
#formsearch input.button_search {
	border:none;
	float:left;
	width: 54px;
	height: 54px;
}


/* --- sidebar2 --- */

#sidebar2 .inner { height: 23em; margin: 2em; border-top:1px solid #c0c0c0; }

#col_c1, #col_c2, #col_c3 { float: left; }

#col_c1 { width: 30%; height:100%; padding: 1em;}
#col_c2 {  width: 28%; height:100%; padding: 1em;}
#col_c3 {  width: 32%; height:100%; padding: 1em;}


.gallery { overflow: hidden; }
.gallery li {  display: block; list-style: none outside; float: left;  margin: 0 0 0 0; }
.gallery li a {  display: block; overflow: hidden;   }
#sidebar2 a img {width: 73px;  height: 73px; display: block; margin:6px ; padding: 4px;	border:1px solid #cfd2d4;}

#col_c3 a img { border: none; float: left; width:57px; height: 91px;  margin: 0 8px 0 0;}

#sidebar2 h2  { color: #7c7a7a;}
#col_c2 p  { height: 65%;  overflow-y:auto; padding: 0.2em;}


/* --- Footer --- */

#footer { color: gray; text-align: center; width: 100%; padding: 7px 0 0 0 ;	border-top:1px solid #c0c0c0;}

