.article ul li a  {color: #7e0000; text-decoration:none;}

.article ul li a:hover  {color: #f00; text-decoration:none;}

.article ul li ul li  { list-style: hanging;}

.article ul li  { margin: 0.4em 0 0 1em; }
