body {
    font-family: Arial;
    font-size: 13px;
}

table {
    border-collapse: collapse;
    border: 1px solid #BDBDBD;
    vertical-align: middle;
    text-align: left;
}

th {
    background-color: #5CC006;
    font-weight: normal;
    color: #ffffff;
    height: 20px;
    padding-left: 7px;
    border-bottom: 1px solid #538F39;
    border-right: 1px solid #538F39;
}

td {
    border-left: 1px solid #BDBDBD;
    height: 25px;
    width: 150px;
    padding-left: 7px;
}

    td.city {
        width: 120px;
    }

    td.input {
        width: 90px;
    }

    td.flag {
        width: 30px;
        padding-top: 4px;
    }

    td.noborder {
        border: none;
        width: 100px;
        padding-left: 0px;
    }

table tr:nth-child(2n) {
    background-color: #EDECD8;
}

img {
    width: 25px;
    height: 17px;
}