 body {
    font-family: Consolas, 'Times New Roman', serif;
    color: #0094ff;
}

p:first-letter {
    font-family: Edwardian Script ITC, 'Times New Roman', serif;
    font-size: 3em;
}

p:first-line {
    font-weight: bold;
}